body{
backgroung-color:bisque;
}
table{
background-color:chocolate;
color:greenyellow;
border:5px groove black;
padding:12px;
width:400px;
}
td{
align-content:center;
font family : "Times New Roman";
}